/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


// Layer definitions
    #define BASE 0
    #define NUM 1
    #define NAV 2
    #define SYM 3
    #define BT 4


&mt {
    flavor = "tap-preferred";
    tapping_term_ms = <200>;
};

/ {
	combos {
        	compatible = "zmk,combos";
        	combo_esc {
            		timeout-ms = <50>;
            		key-positions = <0 1>;
           		bindings = <&kp ESC>;
      		};
		
         	combo_tab {
           		timeout-ms = <50>;
            		key-positions = <1 2>;
            		bindings = <&kp TAB>;
		};
		
		combo_del {
			timeout-ms = <50>;
			key-positions = <28 29>;
			bindings = <&kp DEL>;
		};
		
		combo_ret {
            		timeout-ms = <50>;
            		key-positions = <16 17>;
           		bindings = <&kp ENTER>;
		};

		combo_ret2 {
            		timeout-ms = <50>;
            		key-positions = <12 13>;
           		bindings = <&kp ENTER>;
		};

		combo_bt {
			timeout-ms = <50>;
			key-positions = <30 31 32 33>;
			bindings = <&mo BT>;
		};
		
		combo_bksp {
            		timeout-ms = <50>;
            		key-positions = <7 8>;
           		bindings = <&kp BSPC>;
		};

		combo_cbksp {
            		timeout-ms = <50>;
            		key-positions = <16 17 18>;
           		bindings = <&kp LC(BSPC)>;
		};
		
		combo_lctrl {
            		timeout-ms = <50>;
            		key-positions = <11 12>;
           		bindings = <&sk LCTRL>;
		};

`		combo_lshft {
            		timeout-ms = <50>;
            		key-positions = <10 11>;
           		bindings = <&sk LSHFT>;
		};
		
		combo_rctrl {
            		timeout-ms = <50>;
            		key-positions = <17 18>;
           		bindings = <&sk RCTRL>;
		};

`		combo_rshft {
            		timeout-ms = <50>;
            		key-positions = <18 19>;
           		bindings = <&sk RSHFT>;
		};
	};

     behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
     };

        keymap {
                compatible = "zmk,keymap";
                
       		base_layer {
		    bindings = <
		        &kp F 	&kp R 	&kp D 	&kp P 	&kp V		&kp Q 	&kp M 	&kp U 	&kp O &kp Y
			&kp S 	&kp N 	&hm LALT T &hm LGUI C &kp B	&kp DOT	&hm RGUI H &hm RALT E &kp A &kp I
			&kp Z	&kp X 	&kp K 	&kp G 	&kp W		&kp J 	&kp L 	&kp SEMI &kp SQT &kp COMMA
			                  	&mo SYM	&lt NAV SPACE	&mo NUM &kp LG(LS(S)) 
		    >;
		};

       		num_layer {
		    bindings = <
			&kp F1	&kp F2 	&kp F3 	&kp F4 	&kp F5		&kp F6 	&kp F7 	&kp F8 	&kp F9 	&kp F10	
			&kp N7	&kp N5	&kp N3	&kp N1	&trans		&trans	&kp N2	&kp N4	&kp N6	&kp N8	
			&trans	&trans	&trans	&kp N9	&trans		&trans	&kp N0	&trans	&kp F11	&kp F12
						&trans	&trans		&trans	&trans	
		    >;
		};
		
		nav_layer {
		    bindings = <
			&kp LSHFT &trans &kp UP	&trans	&trans		&kp PG_UP &kp HOME &kp LG(LS(S)) &none &trans
			&kp LCTRL &kp LEFT &kp DOWN &kp RIGHT &trans	&kp LEFT &kp DOWN &kp UP &kp RIGHT &none
			&kp LC(LSHFT) &trans &trans &trans &trans	&kp PG_DN &kp END &none &none &none
						&none 	&none		&kp LSHFT &kp LCTRL
		    >;
		};

		sym_layer {
		    bindings = <
			&kp PRCNT &kp UNDER &kp MINUS &kp LBRC &kp none	&kp none &kp RBRC &kp EQUAL &kp PLUS &kp PIPE
			&kp DLLR &kp EXCL &kp AT &kp LPAR &kp HASH 	&kp TILDE &kp RPAR &kp FSLH &kp QMARK &kp AMPS
			&kp none &kp CARET &kp STAR &kp LBKT &kp BSLH	&kp GRAVE &kp RBKT &kp LT &kp GT &none
						&none	&none		&none	&none
		    >;
		};

		bt_layer {
		    bindings = <
			&bootloader &none &none &bt BT_SEL 0 &none	&none &bt BT_SEL 3 &none &none &bootloader
			&none &none &none &bt BT_SEL 1 &bt BT_CLR	&reset &bt BT_SEL 4 &none &none &none
			&none &none &none &bt BT_SEL 2 &none		&none &bt BT_SEL 5 &none &none &none
						&none &none		&none &none
		    >;
		};

	};
};
